{{ define "cadastro-livro"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/icone.png">
    <link rel="stylesheet" href="/static/css/crudPage/crudPage.css">
    <title>Crud Page</title>
</head>
<body>
    <h1>CRUD Page</h1>
    <button onclick="window.location.href='/home/'" style="font-size: 25px; background-color: #038bbb; border-radius: 20px;">Voltar para Home</button>
</body>
</html>
{{ end }}